@using BookStoreAdmin.Objects
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Book Store</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboards
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            User
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main Content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-12">
                                <h3 class="card-title col-6" style="margin-top:9px ;">Product Detail</h3>
                                <div class=" float-right col-6">
                                    <a class="btn btn-primary float-right" asp-controller="Home" asp-action="Create"><i class="fas fa-plus"></i> New Book</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Giá Thành</th>
                                        <th>Nhà Xuất Bản</th>
                                        <th>Tồn Kho</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <td>@obj.BookId</td>
                                            <td>@obj.BookName</td>
                                            <td>@obj.Price</td>
                                            <td>@obj.Publisher</td>
                                            <td>@obj.Inventory</td>
                                            <td><a class="btn btn-success" asp-controller="Home" asp-action="Edit" asp-route-id=@obj.BookId>Edit</a>  </td>
                                            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id=@obj.BookId>Delete</a>  </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row (main row) -->

        </div><!-- /.container-fluid -->
    </section>
</div>
<!-- /.content-wrapper -->
